<br />
<br />
<script
  type="text/javascript"
  src="https://latest.cactus.chat/cactus.js"
></script>
<link
  rel="stylesheet"
  href="https://latest.cactus.chat/style.css"
  type="text/css"
/>
<div id="comment-section"></div>
<script>
  initComments({
    node: document.getElementById("comment-section"),
    defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
    serverName: "cactus.chat",
    siteName: "karimi.dev",
    commentSectionId: "comment",
  });
</script>
<style>
  * {
    font-family: Fira Code, Monaco, Consolas, Ubuntu Mono, monospace !important;
  }
</style>
